#
# Copyright (C) 2021-2024 Paranoid Android
# SPDX-License-Identifier: Apache-2.0
#

on init
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

# Migrate tasks again in case kernel threads are created during boot
on property:sys.boot_completed=1
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

on property:vendor.post_boot.parsed=1
    exec u:r:vendor_qti_init_shell:s0 -- /vendor/bin/init.marble.perf.sh

    # Configure CPU input boost
    write /proc/sys/walt/input_boost/input_boost_freq "1324800 0 0 0 0 0 0 0"
    write /proc/sys/walt/input_boost/powerkey_input_boost_freq "1785600 0 0 0 2169600 0 0 2419200"
    write /proc/sys/walt/input_boost/powerkey_input_boost_ms 500

    # Configure scheduler
    #write /proc/sys/walt/sched_upmigrate "80 95"
    #write /proc/sys/walt/sched_downmigrate "75 85"
    #write /proc/sys/walt/sched_group_upmigrate 95
    #write /proc/sys/walt/sched_group_downmigrate 80

    # Configure uclamp
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/background/cpu.uclamp.max 50
    write /dev/cpuctl/system-background/cpu.uclamp.max 50
    write /dev/cpuctl/dex2oat/cpu.uclamp.max 60
    # Setup cpu.shares to throttle background groups (bg ~ 5% sysbg ~ 5% dex2oat ~2.5%)
    write /dev/cpuctl/background/cpu.shares 1024
    write /dev/cpuctl/system-background/cpu.shares 1024
    write /dev/cpuctl/dex2oat/cpu.shares 512
    write /dev/cpuctl/system/cpu.shares 20480
    # We only have system and background groups holding tasks and the groups below are empty
    write /dev/cpuctl/camera-daemon/cpu.shares 20480
    write /dev/cpuctl/foreground/cpu.shares 20480
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480
    write /dev/cpuctl/rt/cpu.shares 20480
    write /dev/cpuctl/top-app/cpu.shares 20480
